
<div class="row">
        <div class="col-md-12">
                <div class="card card-sm mt-3">
                    <div class="card-body row no-gytters align-items-center">
                        <div class="col">
                            <input type="search" name="item_name" placeholder="Search for product" class="form-control form-control-borderless">
                        </div>
                        <div class="col">
                            <button class="btn btn-secondary" type="submit"> Search</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
